# VillageHouseManager mutates the village template pools to inject the petshop structure
public-f net.minecraft.world.level.levelgen.structure.pools.StructureTemplatePool templates
public-f net.minecraft.world.level.levelgen.structure.pools.StructureTemplatePool rawTemplates
